.mainReviewBox{
    border: 1px solid red;
    border-radius: 10px;
    width: 700px;
    height: fit-content;
    display: grid;
    justify-content: center;
    padding-left: 10px;
    position: relative;
    left:20%;
    margin-top: 20px;
}

.ustime {
    display: flex;
    justify-content: space-between;
    width: 650px;
}

.reviewText{
    display: flex;
    justify-content: start;
    align-items: start;
}